<div class="side-bar-header">
  <div class="name-box">
    <%=link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-box">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room-box">
        <a href="#">techroom1</a>
  </div>
    <div class="room-box">
        <a href="#">techroom2</a>
  </div>
</div>