<div class="side-bar-header">
  <div class="name-box">
    <%=link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-box">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="rooms">
  <% Room.all.each do |room| %>
    <div class="room-box">
          <a href="#"><%= room.name %></a>
    </div>
  <% end %>
</div>