.wrapper{
  display: flex;
}

.side-bar{
}

.side-bar-header{
  background-color: #253141;
  width: 300px;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-box a{
  padding-left: 20px;
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.new-box a{
  padding: 14px;
  font-size: 10px;
  color: #deepskyblue;
  border: 1px solid lightblue;
  margin-right: 20px;
  text-decoration: none;
}

.rooms{
  background-color: #2F3E51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.room-box{
  padding: 20px 20px 40px 20px;
}

.room-box a{
  text-decoration: none;
  color: white;
}

.chat{

}

.chat-header{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-name a{
  margin-left: 40px;
  margin-top: 36px;
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.chat-end a{
  padding: 20px;
  margin: 0 40px;
  color: darkred;
  text-decoration: none;
  border: 1px darkred solid;
}

.messages{
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message-name{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.mes-name{
  font-size: 16px;
  color: #434A54;
}

.mes-date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.message-text{
  font-size: 14px;
  color: #434A54;
}

.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  display: flex;
  width: 100%;
}

.message-form{
  padding-left: 10px;
  border: none;
  padding-left: 10px;
  width: 100%;
}

.send{
  font-size: 16px;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: #38AEF0;
  height: 50px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}